{% extends 'base.html' %}


{% block title %}
    Lista de canciones
{% endblock title %}
    

{% block content %}
{% include 'includes/nav.html' %}

<h1>Lista de canciones</h1>

<form method="get">
    <label> Buscar una canción
        <input type="text" name="cancion" id="cancion">
    </label>
    <input type="submit" value="Buscar">
</form>

<ul>
    {% for c in canciones %}
        <li>
            {{c.titulo}} - <a style="text-decoration: none;" href="{% url 'app_cancion:detalle_cancion' c.id %}"><em>(ver)</em></a>
        </li>
    {% endfor %}   
</ul>

<button>
    <a style="text-decoration: none;" href="{% url 'app_cancion:crear_cancion' %}">Nueva canción</a>
</button>

{% endblock content %}

